Repository p2p-org/p2p-wallet-ios, pull requests merged in 2022-10, with the labels that each got.

#554 Feature/pwn 5010 solend deposit
  Podfile.lock
  p2p_wallet/Resources/Assets.xcassets/arrow-right.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/arrow-right.imageset/Vector@2x.png
  p2p_wallet/Resources/Assets.xcassets/arrow-right.imageset/Vector@3x.png
  p2p_wallet/Resources/Assets.xcassets/info-straight.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/info-straight.imageset/info_24px.png
  p2p_wallet/Resources/Assets.xcassets/info-straight.imageset/info_24px@2x.png
  p2p_wallet/Resources/Assets.xcassets/info-straight.imageset/info_24px@3x.png
  p2p_wallet/Resources/Assets.xcassets/solend-subtract.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/solend-subtract.imageset/Subtract.pdf
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/InvestSolend/Deposit/DepositSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/Deposit/DepositSolendViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/Views/DepositWithdrawInputView.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/Views/InvestSolendHeaderView.swift
  p2p_wallet/Scenes/Main/InvestSolend/InvestSolendCoordinator.swift
  p2p_wallet/Scenes/Main/InvestSolend/InvestSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/InvestSolendViewModel.swift
Labels: solend

#556 [PWN-5008] Конечный статус депозита/снятия
  Podfile.lock
  p2p_wallet/Coordinators/TabBar/SolendCoordinator.swift
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/Views/InvestSolendHeaderView.swift
Labels: solend

#557 [PWN-5011] Реализация экрана информации о Solend
  p2p_wallet/Coordinators/TabBar/SolendCoordinator.swift
  p2p_wallet/Resources/Assets.xcassets/aboutSolendLock.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/aboutSolendLock.imageset/aboutSolendLock.png
  p2p_wallet/Resources/Assets.xcassets/aboutSolendLock.imageset/aboutSolendLock@2x.png
  p2p_wallet/Resources/Assets.xcassets/aboutSolendLock.imageset/aboutSolendLock@3x.png
  p2p_wallet/Resources/Assets.xcassets/questionNavBar.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/questionNavBar.imageset/help_outline_24px_outlined.pdf
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/InvestSolend/AboutSolend/AboutSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendViewModel.swift
Labels: solend

#558 Integrated token select
  Podfile.lock
  p2p_wallet/Coordinators/TabBar/SolendCoordinator.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/InvestSolendCoordinator.swift
Labels: solend

#563 spinner appended
  p2p_wallet/Resources/Colors.xcassets/lightSea.colorset/Contents.json
  p2p_wallet/Scenes/Main/InvestSolend/SolendTransactionDetails/SolendTransactionDetailsView.swift
  p2p_wallet/SwiftUI/Spinner/Spinner.swift
Labels: solend

#562 Solend withdraw + deposits
  p2p_wallet/Coordinators/SolendDepositsCoordinator.swift
  p2p_wallet/Coordinators/TabBar/SolendCoordinator.swift
  p2p_wallet/Scenes/Main/Buy/BuyView.swift
  p2p_wallet/Scenes/Main/InvestSolend/Banner/View/InvestSolendBannerView.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/Deposits/SolendDepositsViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/InvestSolendViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/TopUpForContinue/Model/SolendTopUpForContinueModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/TopUpForContinue/ViewModel/SolendTopUpForContinueViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/UserDeposits/UserDepositsView.swift
  p2p_wallet/Scenes/Main/InvestSolend/UserDeposits/UserDepositsViewModel.swift
Labels: solend

#564 Tokens + bugfixes
  Podfile.lock
  p2p_wallet/Coordinators/SolendTokenActionCoordinator.swift
  p2p_wallet/Coordinators/SolendTransactionDetailsCoordinator.swift
  p2p_wallet/Coordinators/TabBar/SolendCoordinator.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/SolendTransactionDetails/SolendTransactionDetailsView.swift
  p2p_wallet/Scenes/Main/InvestSolend/SolendTransactionDetails/SolendTransactionDetailsViewModel.swift
Labels: solend

#566 Deposit animation
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendView.swift
Labels: solend

#571 [PWN-5407] Onboarding texts
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Scenes/CreateOrRestoreWallet/RestoreWallet/Steps/ChooseRestoreOption/ChooseRestoreOptionView.swift
  p2p_wallet/Scenes/CreateOrRestoreWallet/RestoreWallet/Steps/RestoreCustom/RestoreCustomDelegateCoordinator.swift
Labels: onboarding

#568 [PWN-5409] Migrate sync icloud keychain values to local one
  p2p_wallet/Services/Storage/KeychainStorage.swift
Labels: bug, onboarding

#572 Fix solend deposit
  p2p_wallet/Coordinators/SolendDepositCoordinator.swift
  p2p_wallet/Coordinators/SolendDepositsCoordinator.swift
  p2p_wallet/Coordinators/TabBar/SolendCoordinator.swift
  p2p_wallet/Extensions/Combine/CombineLatest.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/Deposits/SolendDepositsViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/InvestSolendView.swift
Labels: solend

#573 [PWN-5409] Fix keys migration and some ui fixes
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/StartOnboarding/Start/StartView.swift
  p2p_wallet/Services/Storage/KeychainStorage.swift
Labels: bug, onboarding

#578 [PWN-4366] Update email display on SocialSignInAccountHasBeenUsedView
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/CreateOrRestoreWallet/CreateWallet/Steps/SocialSignIn/SocialSignInAccountHasBeenUsed/SocialSignInAccountHasBeenUsedView.swift
Labels: bug, onboarding

#583 Bugfixes
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/Views/InvestSolendHeaderView.swift
Labels: solend

#580 [PWN-5456] Onboarding. Fix of start coordinator
  p2p_wallet/Scenes/StartOnboarding/Start/StartCoordinator.swift
Labels: onboarding

#544 [PWN-5237] Update icon on Buy screen
  p2p_wallet/Resources/Assets.xcassets/buy-icon.imageset/Coins@2x.png
  p2p_wallet/Resources/Assets.xcassets/buy-icon.imageset/Coins@3x.png
  p2p_wallet/Resources/Assets.xcassets/buy-icon.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/buy-icon.imageset/Potted plant.png
  p2p_wallet/Resources/Assets.xcassets/buy-icon.imageset/Potted plant@2x.png
  p2p_wallet/Resources/Assets.xcassets/buy-icon.imageset/Potted plant@3x.png
  p2p_wallet/Scenes/Main/Buy/BuyView.swift
Labels: buy

#537 [PWN-4809] Positive balance mark
  p2p_wallet/Scenes/Main/NewHome/Home/ViewModel/HomeViewModel.swift
Labels: analytic

#545 [PWN-4805] Filter NFT tokens on home screen
  p2p_wallet/Scenes/Main/NewHome/HomeWithTokens/ViewModel/HomeWithTokensViewModel.swift
Labels: home-screen

#497 [PWN-5043] Несоответствие передаваемых метрик и параметров экрана Buy с документацией
  p2p_wallet/Analytics/AmplitudeEvent/AmplitudeEvent.swift
  p2p_wallet/Scenes/Main/Buy/Buy.PaymentType.swift
  p2p_wallet/Scenes/Main/Buy/BuyCoordinator.swift
  p2p_wallet/Scenes/Main/Buy/BuyViewModel.swift
Labels: analytic

#350 [PWN-3962] fix(send-coordinator): pop old view controllers
  p2p_wallet/Scenes/Main/SendToken/SendTokenCoordinator.swift
Labels: send

#582 feat(solend): add preview to view and fix button padding
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/Deposits/SolendDepositView.swift
  p2p_wallet/Scenes/Main/InvestSolend/Deposits/SolendDepositsView.swift
  p2p_wallet/Scenes/Main/InvestSolend/Deposits/SolendDepositsViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/InvestSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/InvestSolendViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/SelectToken/TokenToDeposit/TokenToDepositView.swift
  p2p_wallet/Scenes/Main/InvestSolend/SelectToken/TokenToWithdraw/TokenToWithdrawView.swift
  p2p_wallet/Scenes/Main/InvestSolend/SolendTransactionDetails/SolendTransactionDetailsView.swift
  p2p_wallet/Scenes/Main/InvestSolend/TopUpForContinue/CurrentVersion/SolendTopUpForContinueView.swift
  p2p_wallet/Scenes/Main/InvestSolend/TopUpForContinue/ViewModel/SolendTopUpForContinueViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/Tutorial/SolendTutorialView.swift
  p2p_wallet/Scenes/Main/InvestSolend/Tutorial/Subviews/SolendTutorialSlideView.swift
  p2p_wallet/SwiftUI/Modifiers/SheetHeaderModifier.swift
Labels: solend

#590 [PWN-5000] PWN-5000: Реализация экрана Default Invest Screen
  Podfile.lock
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/InvestSolend/InvestSolendCell.swift
  p2p_wallet/Scenes/Main/InvestSolend/InvestSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/InvestSolendViewModel.swift
Labels: solend

#609 [PWN-5473] New text + new images
  Podfile.lock
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-1.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-1.imageset/Frame 1523525.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-1.imageset/Frame 1523525@2x.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-1.imageset/Frame 1523525@3x.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-1.imageset/Let your crypto work for you.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-1.imageset/Let your crypto work for you@2x.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-1.imageset/Let your crypto work for you@3x.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-2.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-2.imageset/Frame 1523524.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-2.imageset/Frame 1523524@2x.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-2.imageset/Frame 1523524@3x.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-2.imageset/No lock-up periods.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-2.imageset/No lock-up periods@2x.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-2.imageset/No lock-up periods@3x.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-3.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-3.imageset/Frame 1523523.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-3.imageset/Frame 1523523@2x.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-3.imageset/Frame 1523523@3x.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-3.imageset/Superhero protection.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-3.imageset/Superhero protection@2x.png
  p2p_wallet/Resources/Assets.xcassets/solend-tutorial-3.imageset/Superhero protection@3x.png
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/InvestSolend/AboutSolend/View/AboutSolendSlideView.swift
  p2p_wallet/Scenes/Main/InvestSolend/AboutSolend/View/AboutSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/Tutorial/SolendTutorialViewModel.swift
Labels: solend

#602 [PWN-5429] Navigation, feature flags and settings parameters. Skip button. Service logic
  Podfile
  Podfile.lock
  p2p_wallet/Coordinators/AppCoordinator/AppCoordinator.swift
  p2p_wallet/Coordinators/TabBar/SettingsCoordinator.swift
  p2p_wallet/Extensions/NameService+Extensions.swift
  p2p_wallet/Info.plist
  p2p_wallet/Resources/AppDelegate/AppDelegate+Injection.swift
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/CreateOrRestoreWallet/OnboardingConfig.swift
  p2p_wallet/Scenes/DebugMenu/View/DebugMenuView.swift
  p2p_wallet/Scenes/DebugMenu/ViewModel/DebugMenuViewModel.swift
  p2p_wallet/Scenes/Main/NewSettings/Settings/View/SettingsView.swift
  p2p_wallet/Scenes/Main/NewSettings/Settings/ViewModel/SettingsViewModel.swift
  p2p_wallet/Scenes/Main/SendToken/Subscenes/ChooseRecipientAndNetwork/SelectAddress/Subviews/RecipientsCollectionView/SendToken.ChooseRecipientAndNetwork.SelectAddress.RecipientsListViewModel.swift
  p2p_wallet/Scenes/Main/Settings/Settings.ViewController.swift
  p2p_wallet/Scenes/Main/Settings/Settings.ViewModel.swift
  p2p_wallet/Scenes/Username/CreateUsername/CreateUsernameCoordinator.swift
  p2p_wallet/Scenes/Username/CreateUsername/CreateUsernameView.swift
  p2p_wallet/Scenes/Username/CreateUsername/CreateUsernameViewModel.swift
  p2p_wallet/Scenes/Username/CreateUsername/Models/CreateUsernameParameters.swift
  p2p_wallet/Scenes/Username/CreateUsername/Models/CreateUsernameStatus.swift
  p2p_wallet/Scenes/Username/Old/ReserveName/ReserveName.ViewModel.swift
  p2p_wallet/Services/CreateName/CreateNameService.swift
  p2p_wallet/Services/FeatureFlags/Features.swift
Labels: onboarding

#617 [PWN-5601] Apply validation to username and fix logic of create name requests
  p2p_wallet/Coordinators/AppCoordinator/AppCoordinator.swift
  p2p_wallet/Scenes/Main/Settings/Settings.ViewController.swift
  p2p_wallet/Scenes/Username/CreateUsername/CreateUsernameCoordinator.swift
  p2p_wallet/Scenes/Username/CreateUsername/CreateUsernameView.swift
  p2p_wallet/Scenes/Username/CreateUsername/CreateUsernameViewModel.swift
  p2p_wallet/Services/CreateName/CreateNameService.swift
Labels: onboarding

#620 [PWN-5598] Fixes
  Podfile.lock
  p2p_wallet/Coordinators/TabBar/SolendCoordinator.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/Placeholder/SolendPlaceholderView.swift
  p2p_wallet/Scenes/TabBar/TabBarController.swift
Labels: solend

#611 [PWN-5429] [PWN-5170] [PWN-5554] Onboarding username flow
  Podfile
  Podfile.lock
  p2p_wallet/Coordinators/AppCoordinator/AppCoordinator.swift
  p2p_wallet/Coordinators/TabBar/SettingsCoordinator.swift
  p2p_wallet/Extensions/NameService+Extensions.swift
  p2p_wallet/Extensions/RemoteConfig+Extensions.swift
  p2p_wallet/Extensions/String+Extensions.swift
  p2p_wallet/Info.plist
  p2p_wallet/Resources/AppDelegate/AppDelegate+Injection.swift
  p2p_wallet/Resources/Assets.xcassets/name-wallet.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/name-wallet.imageset/Name wallet@2x.png
  p2p_wallet/Resources/Assets.xcassets/name-wallet.imageset/Name wallet@3x.png
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/CreateOrRestoreWallet/OnboardingConfig.swift
  p2p_wallet/Scenes/CreateOrRestoreWallet/RestoreWallet/Steps/SeedPhraseRestore/SeedPhraseRestore/SeedPhraseRestoreWalletView.swift
  p2p_wallet/Scenes/DebugMenu/View/DebugMenuView.swift
  p2p_wallet/Scenes/DebugMenu/ViewModel/DebugMenuViewModel.swift
  p2p_wallet/Scenes/Main/NewHome/Home/View/HomeView.swift
  p2p_wallet/Scenes/Main/NewHome/Home/ViewModel/HomeViewModel.swift
  p2p_wallet/Scenes/Main/NewSettings/Settings/View/SettingsView.swift
  p2p_wallet/Scenes/Main/NewSettings/Settings/ViewModel/SettingsViewModel.swift
  p2p_wallet/Scenes/Main/SendToken/Subscenes/ChooseRecipientAndNetwork/SelectAddress/Subviews/RecipientsCollectionView/SendToken.ChooseRecipientAndNetwork.SelectAddress.RecipientsListViewModel.swift
  p2p_wallet/Scenes/Main/SendToken/Subscenes/Confirm/Subviews/SendToken.ConfirmViewController+Subviews.swift
  p2p_wallet/Scenes/Main/Settings/Settings.ViewController.swift
  p2p_wallet/Scenes/Main/Settings/Settings.ViewModel.swift
  p2p_wallet/Scenes/Main/Settings/Subscenes/Settings.UsernameViewController.swift
  p2p_wallet/Scenes/Main/TransactionDetail/Subviews/TransactionDetail.FromToSection.swift
  p2p_wallet/Scenes/Username/CreateUsername/CreateUsernameCoordinator.swift
  p2p_wallet/Scenes/Username/CreateUsername/CreateUsernameView.swift
  p2p_wallet/Scenes/Username/CreateUsername/CreateUsernameViewModel.swift
  p2p_wallet/Scenes/Username/CreateUsername/Models/CreateUsernameParameters.swift
  p2p_wallet/Scenes/Username/CreateUsername/Models/CreateUsernameStatus.swift
  p2p_wallet/Scenes/Username/Old/ReserveName/ReserveName.TextFieldState.swift
  p2p_wallet/Scenes/Username/Old/ReserveName/ReserveName.ViewController.swift
  p2p_wallet/Scenes/Username/Old/ReserveName/ReserveName.ViewModel.swift
  p2p_wallet/Scenes/Username/Old/ReserveName/ReserveName.swift
  p2p_wallet/Scenes/Username/Old/ReserveName/ReserveNameHandler.swift
  p2p_wallet/Scenes/Username/Old/ReserveName/View/ReserveName.LoadingView.swift
  p2p_wallet/Scenes/Username/Old/ReserveName/View/ReserveName.MainButtonState.swift
  p2p_wallet/Scenes/Username/Old/ReserveName/View/ReserveName.RootView.swift
  p2p_wallet/Scenes/Username/Old/ReserveName/View/ReserveNameKind.swift
  p2p_wallet/Services/AppEventHandler/AppEventHandler.swift
  p2p_wallet/Services/CreateName/CreateNameService.swift
  p2p_wallet/Services/FeatureFlags/Features.swift
  p2p_wallet/Services/NotificationsService/NotificationService.swift
  p2p_wallet/SwiftUI/CircularProgressIndicatorView.swift
  p2p_wallet/SwiftUI/FocusedTexts/FocusedTextField.swift
  p2p_wallet/SwiftUI/FocusedTexts/FocusedTextView.swift
  p2p_wallet/UIKit/ViewControllers/KeyboardAvoidingViewController.swift
Labels: onboarding

#604 [PWN-5530] Keyboard fix
  Podfile.lock
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/DepositSolendViewModel.swift
  p2p_wallet/Scenes/Main/InvestSolend/DepositWithdraw/Views/DepositWithdrawInputView.swift
  p2p_wallet/Scenes/Main/InvestSolend/InvestSolendHelper.swift
Labels: solend

#613 [PWN-5593] Update onboarding screens
  Podfile.lock
  p2p_wallet/Scenes/StartOnboarding/Start/StartView.swift
  p2p_wallet/Scenes/StartOnboarding/Start/StartViewModel.swift
  p2p_wallet/UIKit/SwiftUI/OnboardingContentView/OnboardingContentView.swift
  p2p_wallet/UIKit/SwiftUI/PageView/PagingView.swift
Labels: onboarding, keyapp

#547 [PWN-5170] Remove p2p domain from username screens
  p2p_wallet/Extensions/RemoteConfig+Extensions.swift
Labels: keyapp

#581 [PWN-5296] [IOS] Replace design elements DON'T MERGE
  Podfile.lock
  p2p_wallet/Resources/Assets.xcassets/keyapp-logo.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/keyapp-logo.imageset/color=black@2x.png
  p2p_wallet/Resources/Assets.xcassets/keyapp-logo.imageset/color=black@3x.png
  p2p_wallet/Resources/Assets.xcassets/p-logo.imageset/p-logo.png
  p2p_wallet/Resources/Assets.xcassets/p-logo.imageset/p-logo@2x.png
  p2p_wallet/Resources/Assets.xcassets/p-logo.imageset/p-logo@3x.png
  p2p_wallet/Resources/Assets.xcassets/spinner-icon.imageset/Icon.png
  p2p_wallet/Resources/Assets.xcassets/spinner-icon.imageset/Icon@2x.png
  p2p_wallet/Resources/Assets.xcassets/spinner-icon.imageset/Icon@3x.png
  p2p_wallet/Resources/Assets.xcassets/start-five.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/start-five.imageset/Invest, buy & sell@2x.png
  p2p_wallet/Resources/Assets.xcassets/start-five.imageset/Invest, buy & sell@3x.png
  p2p_wallet/Resources/Assets.xcassets/start-four.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/start-four.imageset/Earn $@2x.png
  p2p_wallet/Resources/Assets.xcassets/start-four.imageset/Earn $@3x.png
  p2p_wallet/Resources/Assets.xcassets/start-one.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/start-one.imageset/Frame 1523529@2x.png
  p2p_wallet/Resources/Assets.xcassets/start-one.imageset/Frame 1523529@3x.png
  p2p_wallet/Resources/Assets.xcassets/start-three.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/start-three.imageset/Welcome to Key App@2x.png
  p2p_wallet/Resources/Assets.xcassets/start-three.imageset/Welcome to Key App@3x.png
  p2p_wallet/Resources/Assets.xcassets/start-two.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/start-two.imageset/Restore@2x.png
  p2p_wallet/Resources/Assets.xcassets/start-two.imageset/Restore@3x.png
  p2p_wallet/Resources/Assets.xcassets/welcome.imageset/Frame 1523528@2x.png
  p2p_wallet/Resources/Assets.xcassets/welcome.imageset/Frame 1523528@3x.png
  p2p_wallet/Resources/Base.lproj/LaunchScreen.storyboard
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/CreateOrRestoreWallet/View/OnboardingTermAndConditionButton.swift
  p2p_wallet/Scenes/Main/InvestSolend/AboutSolend/View/AboutSolendView.swift
  p2p_wallet/Scenes/Main/InvestSolend/Tutorial/SolendTutorialView.swift
  p2p_wallet/Scenes/Main/Old/Buy/Processing/BuyProcessing.ViewController.swift
  p2p_wallet/Scenes/Main/Old/Buy/Processing/BuyProcessing.swift
  p2p_wallet/Scenes/StartOnboarding/Start/StartView.swift
  p2p_wallet/Scenes/StartOnboarding/Start/StartViewModel.swift
  p2p_wallet/UIKit/SwiftUI/OnboardingContentView/OnboardingContentView.swift
  p2p_wallet/UIKit/SwiftUI/PageView/PagingView.swift
  p2p_wallet/UIKit/Views/LockView.swift
  p2p_wallet/UIKit/Views/WLLoadingIndicatorView.swift
  p2p_wallet/UIKit/Views/WLSpinnerView.swift
Labels: keyapp

#625 [PWN-5623] Rename trade for swap on main screen
  p2p_wallet/Coordinators/TabBar/ActionsCoordinator.swift
  p2p_wallet/Coordinators/TabBar/HomeCoordinator.swift
  p2p_wallet/Resources/Assets.xcassets/homeSwapAction.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/homeSwapAction.imageset/homeTradeAction.pdf
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Actions/ActionsView.swift
  p2p_wallet/Scenes/Main/NewHome/HomeWithTokens/View/HomeWithTokensView.swift
  p2p_wallet/Scenes/Main/NewHome/HomeWithTokens/ViewModel/HomeWithTokensViewModel.swift
Labels: Main Screen 1.1

#631 [PWN-5662] Remove solend page from onboarding
  p2p_wallet/Scenes/StartOnboarding/Start/StartViewModel.swift
Labels: onboarding

#630 [PWN-5166] Terms of Service and Privacy Policy
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/Privacy_policy.txt
  p2p_wallet/Resources/Terms_of_service.txt
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/CreateOrRestoreWallet/CreateWallet/Steps/EnterPhoneNumber/BindingPhoneNumberDelegatedCoordinator.swift
  p2p_wallet/Scenes/CreateOrRestoreWallet/RestoreWallet/Steps/RestoreCustom/RestoreCustomDelegateCoordinator.swift
  p2p_wallet/Scenes/CreateOrRestoreWallet/Screen/OnboardingBlockScreen.swift
  p2p_wallet/Scenes/CreateOrRestoreWallet/View/OnboardingTermAndConditionButton.swift
  p2p_wallet/Scenes/CreateOrRestoreWallet/View/OnboardingTermsAndPolicyButton.swift
  p2p_wallet/Scenes/StartOnboarding/Start/StartCoordinator.swift
  p2p_wallet/Scenes/StartOnboarding/Start/StartView.swift
  p2p_wallet/Scenes/StartOnboarding/Start/StartViewModel.swift
  p2p_wallet/Scenes/TermsAndPolicy/TermsAndPolicyCoordinator.swift
Labels: keyapp

#633 [PWN-5660] Fix skip button disappearance and Add Metrics to Amplitude (Onboarding)
  p2p_wallet/Analytics/AmplitudeEvent/AmplitudeEvent.swift
  p2p_wallet/Analytics/AmplitudeEvent/AmplitudeIdentifier.swift
  p2p_wallet/Coordinators/AppCoordinator/AppCoordinator.swift
  p2p_wallet/Scenes/CreateOrRestoreWallet/CreateWallet/Steps/EnterPhoneNumber/BindingPhoneNumberDelegatedCoordinator.swift
  p2p_wallet/Scenes/CreateOrRestoreWallet/CreateWallet/Steps/SocialSignIn/SocialSignInDelegatedCoordiantor.swift
  p2p_wallet/Scenes/StartOnboarding/StartOnboardingNavigationProvider.swift
  p2p_wallet/Scenes/Username/CreateUsername/CreateUsernameCoordinator.swift
  p2p_wallet/Scenes/Username/CreateUsername/CreateUsernameView.swift
  p2p_wallet/Scenes/Username/CreateUsername/CreateUsernameViewModel.swift
  p2p_wallet/Scenes/Username/CreateUsername/Models/CreateUsernameParameters.swift
Labels: onboarding, analytic

#656 [PWN-5728] feat(name-service): update everytime when app was loaded
  p2p_wallet/Scenes/Main/Main.ViewModel.swift
Labels: bug

#653 [PWN-5718] Fix inconsistent state of biometry toggle
  p2p_wallet/Coordinators/AppCoordinator/AppCoordinator.swift
  p2p_wallet/Scenes/Main/NewSettings/Settings/ViewModel/SettingsViewModel.swift
Labels: bug
