Repository p2p-org/p2p-wallet-ios, pull requests merged in 2022-12, with the labels that each got.

#755 [PWN-6233] Filter empty and nft tokens, fix list on iOS 14
  p2p_wallet/Scenes/Main/NewHome/HomeWithTokens/ViewModel/HomeWithTokensViewModel.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenService.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenView.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenViewModel.swift
Labels: bug

#756 [PWN-6235] Update action button text due to state and make viewModel …
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/ActionButton/SendInputActionButtonViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/TokenView/SendInputTokenView.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/TokenView/SendInputTokenViewModel.swift
Labels: bug

#768 [PWN-6294] UI Fixes for small screens
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptView.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FreeTransactionsDetail/SendInputFreeTransactionsDetailCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FreeTransactionsDetail/SendInputFreeTransactionsDetailView.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
  p2p_wallet/Scenes/Main/Send/TransactionStatus/SendTransactionStatusCoordinator.swift
  p2p_wallet/SwiftUI/Modifiers/IfModifier.swift
Labels: bug, send

#766 [PWN-6307] [Do not merge] Format SendInputAmountField with current type - fiat or token
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountField.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountView.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountViewModel.swift
Labels: send

#777 [PWN-6208] Send analytics
  p2p_wallet/Analytics/AmplitudeEvent/AmplitudeEvent.swift
  p2p_wallet/Coordinators/SendEmptyCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputView.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountViewModel.swift
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchView.swift
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchViewModel.swift
  p2p_wallet/Scenes/Main/Send/SendСoordinator.swift
Labels: send

#781 [PWN-6341] feat: disable build on no-qa task
  .github/workflows/auto-deploy.yml
  .github/workflows/manual-feature-high-priority-test.yml
  .github/workflows/manual-feature-test.yml
  .github/workflows/pull_request_review.yml
Labels: no-qa

#779 [PWN-6293] Make available fee tokens request in transaction details
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenCoordinator.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenService.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptView.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/SendTransactionDetails/SendTokenDetailsCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/SendTransactionDetails/SendTransactionDetailView.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/SendTransactionDetails/SendTransactionDetailViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputCoordinator.swift
Labels: send

#787 [PWN-6023] Token order for choosing send wallet
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
Labels: bug, send

#790 [PWN-6023] Min left amount for SOL token logic
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountView.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountViewModel.swift
Labels: send

#791 [PWN-6390] Filter NFT tokens from send screen
  p2p_wallet/Scenes/Main/NewHome/HomeWithTokens/ViewModel/HomeWithTokensViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
Labels: bug, send

#795 [PWN-6023] Update max amount while fiat is main input. Show unknown error in status details
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountViewModel.swift
  p2p_wallet/Scenes/Main/Send/TransactionStatus/SendTransactionStatusViewModel.swift
Labels: send

#771 [PWN-5957] feat: navigation pattern for Home
  README.md
  Templates/BEScene.xctemplate/___VARIABLE_scene___.ViewController.swift
  Templates/BEScene.xctemplate/___VARIABLE_scene___.ViewModel.swift
  Templates/BEScene.xctemplate/___VARIABLE_scene___.swift
  Templates/BEScene2.xctemplate/TemplateIcon.png
  Templates/BEScene2.xctemplate/TemplateIcon@2x.png
  Templates/BEScene2.xctemplate/TemplateInfo.plist
  Templates/BEScene2.xctemplate/___VARIABLE_scene___NavigatableScene.swift
  Templates/BEScene2.xctemplate/___VARIABLE_scene___RootView.swift
  Templates/BEScene2.xctemplate/___VARIABLE_scene___ViewController.swift
  Templates/BEScene2.xctemplate/___VARIABLE_scene___ViewModel.swift
  Templates/MVVM-C.xctemplate/TemplateIcon.png
  Templates/MVVM-C.xctemplate/TemplateIcon@2x.png
  Templates/MVVM-C.xctemplate/TemplateInfo.plist
  Templates/MVVM-C.xctemplate/___VARIABLE_scene___Coordinator.swift
  Templates/MVVM-C.xctemplate/___VARIABLE_scene___View.swift
  Templates/MVVM-C.xctemplate/___VARIABLE_scene___ViewModel.swift
  p2p_wallet/Coordinators/TabBar/HomeCoordinator.swift
  p2p_wallet/Coordinators/TabBar/TabBarCoordinator.swift
  p2p_wallet/Extensions/Combine+Extensions.swift
  p2p_wallet/Scenes/Main/NewHome/Empty/ViewModel/HomeEmptyViewModel.swift
  p2p_wallet/Scenes/Main/NewHome/HomeWithTokens/View/HomeWithTokensView.swift
  p2p_wallet/Scenes/Main/NewHome/HomeWithTokens/ViewModel/HomeWithTokensViewModel.swift
Labels: no-qa

#796 [PWN-6401] [PWN-6041] Open keyboards in Send flow
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenCoordinator.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenView.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
Labels: bug, send

#797 [PWN-6406] Store amount both in fiat and in token to handle maxAmount…
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptView.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountViewModel.swift
Labels: bug, send

#800 [PWN-6403] Pick the most amount in current fiat token . Send flow
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
Labels: bug, send

#804 [PWN-6439] Add ability to pre-choose recipient and amount for Send
  Podfile.lock
  p2p_wallet/Scenes/Main/Send/Input/SendInputCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputView.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountView.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountViewModel.swift
  p2p_wallet/Scenes/Main/Send/SendСoordinator.swift
  p2p_wallet/Scenes/Sell/Pending/SellPendingCoordinator.swift
Labels: no-qa

#812 Improve integration with sell transactions
  p2p_wallet/AppCoordinator/SmartCoordiantor.swift
  p2p_wallet/Coordinators/SellTransactionDetailsCoordinator.swift
  p2p_wallet/Coordinators/TabBar/HomeCoordinator.swift
  p2p_wallet/Scenes/Main/History/Detail/Transaction/View/TransactionView.swift
  p2p_wallet/Scenes/Main/History/Detail/Transaction/View/TransactionViewController.swift
  p2p_wallet/Scenes/Main/History/Detail/Transaction/ViewModel/TransactionViewModel.swift
  p2p_wallet/Scenes/Main/History/Detail/Transaction/ViewModel/ViewModel.swift
  p2p_wallet/Scenes/Main/History/History.Coordinator.swift
  p2p_wallet/Scenes/Main/History/History.Scene.swift
  p2p_wallet/Scenes/Main/History/History.SceneModel.swift
  p2p_wallet/Scenes/Main/History/Transaction/.DS_Store
  p2p_wallet/Scenes/Main/History/Transaction/View/.DS_Store
  p2p_wallet/Scenes/Main/History/TransactionCell/Subviews/TransactionCell.swift
  p2p_wallet/Scenes/Sell/SellCoordinator.swift
  p2p_wallet/Scenes/TabBar/TabBarController.swift
Labels: sell

#809 [PWN-6413] Lowercase input in recipients search
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchViewModel.swift
Labels: bug, send

#808 [PWN-6419] Update countAfterDecimalPoint param after token update
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountViewModel.swift
Labels: bug, send

#806 [PWN-6410] Update logic of clear button on ChooseWalletToken screen
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenView.swift
Labels: bug, send

#807 [PWN-6420] Unify round mode of a number between send flow
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountField.swift
Labels: bug, send

#815 [PWN-6421] Slow down animation on send transaction status
  p2p_wallet/Scenes/Main/Send/TransactionStatus/SendTransactionStatusView.swift
Labels: bug, send

#813 [PWN-6295] Do not close fee prompt screen after choosing token
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptView.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptViewModel.swift
Labels: bug, send

#814 [PWN-6439] Feature/pwn 6439
  p2p_wallet/Scenes/Main/History/History.Coordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
Labels: send, sell

#816 [PWN-6254] feat(history): improve sell transaction displaying
  p2p_wallet/Scenes/Main/History/Output/History.SellTransactionsOutput.swift
  p2p_wallet/Scenes/Main/History/TransactionCell/Subviews/TransactionCell.swift
  p2p_wallet/Scenes/Main/History/TransactionCell/Subviews/TransactionImageView.swift
Labels: sell

#819 [PWN-6416] Add subtitle for state of sending to yourself. Remove dupl…
  p2p_wallet/Resources/Assets.xcassets/not-found-illustration.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/not-found-illustration.imageset/not-found-illustration.pdf
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchView.swift
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchViewModel.swift
  p2p_wallet/Scenes/Main/Send/RecipentSearch/Subviews/RecipientCell.swift
  p2p_wallet/Scenes/Main/Send/RecipentSearch/Subviews/RecipientNotFoundView.swift
Labels: bug, send

#820 [PWN-6426] Change close button title
  p2p_wallet/Scenes/Main/Send/TransactionStatus/SendTransactionStatusView.swift
  p2p_wallet/Scenes/Main/Send/TransactionStatus/SendTransactionStatusViewModel.swift
Labels: bug, send

#821 [PWN-6480] Cut decimals if token is switched
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountViewModel.swift
Labels: bug, send

#830 [PWN-6450] fix(send): ignore pasting empty clipboard
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchViewModel.swift
Labels: bug, send

#831 [PWN-6416] Update send to your self recipient cell
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchView.swift
  p2p_wallet/Scenes/Main/Send/RecipentSearch/Subviews/RecipientCell.swift
Labels: bug, send

#828 [PWN-6295] Close prompt screen if fee token was changed
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptCoordinator.swift
Labels: bug, send

#826 [PWN-6418] Use common empty view for send flow
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenView.swift
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchView.swift
  p2p_wallet/Scenes/Main/Send/Views/SendtNotFoundView.swift
Labels: bug, send

#825 [PWN-6423] Remove 'a' from date format. Send transaction details. Force locale
  p2p_wallet/Extensions/Date+Extensions.swift
  p2p_wallet/Extensions/Locale+Extensions.swift
  p2p_wallet/Scenes/Main/Send/TransactionStatus/SendTransactionStatusViewModel.swift
Labels: bug, send

#824 [PWN-6448] Make recipient search field content to be unique
  p2p_wallet/Scenes/Main/Send/RecipentSearch/Subviews/RecipientSearchField.swift
Labels: bug, send

#827 [PWN-6311] feat(tabbar): add swap to tabbar
  p2p_wallet/Resources/Assets.xcassets/tabBarSwap.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/tabBarSwap.imageset/tabBarSwap.pdf
  p2p_wallet/Scenes/Main/SwapToken/OrcaSwapV2/OrcaSwapV2.ViewController.swift
  p2p_wallet/Scenes/TabBar/TabBarController.swift
Labels: sell

#833 [PWN-6435] Change filter and sort logic on ChooseWalletToken screen
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenViewModel.swift
Labels: bug, send

#832 [PWN-6379] Copy address from transaction detail screen
  p2p_wallet/Scenes/Main/Send/Input/Details/SendTransactionDetails/SendTokenDetailsCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/SendTransactionDetails/SendTransactionDetailView.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/SendTransactionDetails/SendTransactionDetailViewModel.swift
Labels: bug, send

#838 [PWN-6516] Send SOL bug
  Podfile
  Podfile.lock
Labels: bug, send, high

#837 [PWN-6507] feat(home): only copy address to clipboard
  p2p_wallet/Scenes/Main/NewHome/Home/ViewModel/HomeViewModel.swift
Labels: home-screen, high

#842 [PWN-6295] Change tap event for already selected token
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenView.swift
Labels: bug, send

#834 [PWN-6499] Calculate fee on prompt screen
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptView.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputCoordinator.swift
Labels: bug, send

#841 [PWN-6496] Subscribe to currentValueSubject instead of publisher
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountViewModel.swift
Labels: bug, send

#843 [PWN-6435] Sort wallets from the scratch
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenViewModel.swift
Labels: bug, send

#844 [PWN-6470] Update logic for MAX button
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
Labels: bug, send

#845 [PWN-6416] Remove double spaces
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchView.swift
Labels: bug, send

#847 [PWN-6511] Open keyboard after view loading and fix spacer
  p2p_wallet/Scenes/Main/Send/Input/SendInputView.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
  p2p_wallet/UIKit/ViewControllers/KeyboardAvoidingViewController.swift
Labels: bug, send

#848 [PWN-6550] Calculate feeInFiat among all screens and unify its display
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenCoordinator.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenService.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/SendTransactionDetails/SendTransactionDetailViewModel.swift
Labels: bug, send

#850 [PWN-6425] Network error handling. Send flow
  p2p_wallet/Extensions/NSError+Extensions.swift
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/Send/TransactionStatus/SendTransactionStatusViewModel.swift
  p2p_wallet/Services/NotificationsService/NotificationService.swift
  p2p_wallet/Services/TransactionHandler/TransactionHandler+Extensions.swift
Labels: bug, send

#849 Feature/pwn 6521
  p2p_wallet/Services/TransactionHandler/TransactionHandler+Extensions.swift
Labels: bug, send

#854 [PWN-6392] Forbid opening Send if data is being updated
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/TabBar/TabBarController.swift
Labels: bug, send, no-qa

#853 [PWN-6575] Error text for insufficient funds state
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
Labels: bug, send, no-qa

#857 [PWN-6418] Customize KeyboardAvoiding vc for choose wallet screen
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenCoordinator.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenView.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
  p2p_wallet/UIKit/ViewControllers/KeyboardAvoidingViewController.swift
Labels: bug, send, no-qa

#851 [PWN-6567] Remove extra word from localization on SendEmpty screen
  p2p_wallet/Coordinators/SendEmptyCoordinator.swift
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
Labels: bug, send, no-qa

#859 [PWN-6594] Sum account and transaction fees in transaction details
  p2p_wallet/Scenes/Main/Send/Input/Details/SendTransactionDetails/SendTransactionDetailViewModel.swift
Labels: bug, send, no-qa

#861 [PWN-6418] Fix keyboard issue with ignore keyboard param from UIHosti…
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenCoordinator.swift
  p2p_wallet/UIKit/ViewControllers/KeyboardAvoidingViewController.swift
Labels: bug, send, no-qa

#862 [PWN-6468] Fix background/foreground keyboard state
  p2p_wallet/UIKit/ViewControllers/KeyboardAvoidingViewController.swift
Labels: bug, send, no-qa
