Repository p2p-org/p2p-wallet-ios, pull requests merged in 2023-01, with the labels that each got.

#860 [PWN-6465] Handle FeeRelayerError.topUpSuccessButTransactionThrows
  p2p_wallet/Scenes/Main/Send/TransactionStatus/Details/SendTransactionStatusDetailsCoordinator.swift
  p2p_wallet/Scenes/Main/Send/TransactionStatus/Details/SendTransactionStatusDetailsParameters.swift
  p2p_wallet/Scenes/Main/Send/TransactionStatus/Details/SendTransactionStatusDetailsView.swift
  p2p_wallet/Scenes/Main/Send/TransactionStatus/SendTransactionStatusViewModel.swift
Labels: bug, send, no-qa

#869 [PWN-6263] feat: return navigation bar, replace back button
  p2p_wallet/Scenes/Main/Sell/Pending/SellPendingCoordinator.swift
  p2p_wallet/Scenes/Main/Sell/Pending/SellPendingHostingController.swift
  p2p_wallet/Scenes/Main/Sell/Pending/SellPendingView.swift
Labels: no-qa

#870 [PWN-6708] feat: fix fee loading status
  p2p_wallet/Scenes/Main/Sell/SellViewModel.swift
Labels: no-qa

#876 [PWN-6430] Apply flexible modifier to subtitle height on SendTransact…
  p2p_wallet/Scenes/Main/Send/Input/Details/SendTransactionDetails/SendTransactionDetailView.swift
Labels: bug, send, no-qa

#882 [PWN-6392] Move send empty screen opening to general send coordinator…
  p2p_wallet/Coordinators/TabBar/TabBarCoordinator.swift
  p2p_wallet/Scenes/Main/Send/SendСoordinator.swift
Labels: bug, send, no-qa

#885 [PWN-6647] Check max button in insufficientFunds state
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
Labels: bug, send, no-qa

#883 [PWN-6753] Open keyboard when the data is loaded
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchViewModel.swift
Labels: bug, send, no-qa

#884 [PWN-6762] Open QR scanner value in case it was opened previously
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchViewModel.swift
Labels: bug, send, no-qa

#889 [PWN-6468] Display debug info only when keyboard is off
  p2p_wallet/Scenes/Main/Send/Input/SendInputView.swift
Labels: bug, send

#892 [PWN-6815] Update send status transaction view colors
  p2p_wallet/Resources/Colors.xcassets/ffdce9.colorset/Contents.json
  p2p_wallet/Resources/Colors.xcassets/h04D004.colorset/Contents.json
  p2p_wallet/Scenes/Main/Send/TransactionStatus/SendTransactionStatusView.swift
  p2p_wallet/Scenes/Main/Send/TransactionStatus/SendTransactionStatusViewAppearance.swift
Labels: bug, send, no-qa

#895 [PWN-6814] Add scale background animation in SendTransactionStatusSta…
  p2p_wallet/Scenes/Main/Send/TransactionStatus/SendTransactionStatusView.swift
Labels: bug, send, no-qa

#897 [PWN-6415] Format fiat amounts less than 0.01 for send flow
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenItemView.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/SendTransactionDetails/SendTransactionDetailViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/Subviews/TokenView/SendInputTokenViewModel.swift
  p2p_wallet/Scenes/Main/Send/TransactionStatus/SendTransactionStatusViewModel.swift
Labels: send, no-qa

#896 [PWN-6446] Optimize captureSession start and stop calls from the righ…
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchViewModel.swift
  p2p_wallet/UIKit/ViewControllers/QrCodeScannerVC.swift
Labels: bug, send, no-qa

#906 [PWN-6864] Handle optional captureSession object
  p2p_wallet/UIKit/ViewControllers/QrCodeScannerVC.swift
Labels: bug, send, no-qa

#910 [PWN-6868] Calculate fee in the same token around several send screens
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptView.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptViewModel.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputCoordinator.swift
Labels: bug, send, no-qa

#911 [PWN-6890] Fix SendEmptyView ui bugs
  p2p_wallet/Resources/Assets.xcassets/sendEmptyLighting.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/sendEmptyLighting.imageset/sendEmptyLighting.pdf
  p2p_wallet/Resources/Assets.xcassets/sendEmptyPerson.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/sendEmptyPerson.imageset/sendEmptyPerson.pdf
  p2p_wallet/Resources/Assets.xcassets/user.imageset/Contents.json
  p2p_wallet/Resources/Assets.xcassets/user.imageset/User@2x.png
  p2p_wallet/Resources/Assets.xcassets/user.imageset/User@3x.png
  p2p_wallet/Scenes/Main/SendToken/Empty/SendEmptyRowView.swift
  p2p_wallet/Scenes/Main/SendToken/Empty/SendEmptyView.swift
Labels: bug, send, no-qa

#902 [PWN-6517] Remember send input type choice and reset it on logout
  p2p_wallet/Scenes/Main/Send/Input/Subviews/AmountView/SendInputAmountViewModel.swift
  p2p_wallet/Services/Defaults.swift
  p2p_wallet/Services/Storage/UserWalletManager.swift
Labels: send

#901 [PWN-6786] Handle feeCalculationFailed error
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/Send/Input/SendInputView.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
Labels: bug, send, no-qa

#913 [PWN-6881] Do not include token symbol in sell button on SellPendingView
  p2p_wallet/Scenes/Main/Sell/Pending/SellPendingView.swift
Labels: bug

#919 [PWN-6617] Fix transaction fee fiat display and free condition
  p2p_wallet/Scenes/Main/Send/Input/Details/SendTransactionDetails/SendTransactionDetailViewModel.swift
Labels: bug, send
