Repository p2p-org/p2p-wallet-ios, pull requests merged in 2023-02, with the labels that each got.

#945 [PWN-6786] Change initialize action in SendInputState
  p2p_wallet/Scenes/Main/Send/Input/SendInputViewModel.swift
Labels: bug, send

#936 [PWN-6872] File structure refactoring. Remove extra send folder
  p2p_wallet/Scenes/Main/Send/Empty/SendEmptyCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Empty/SendEmptyRowView.swift
  p2p_wallet/Scenes/Main/Send/Empty/SendEmptyView.swift
Labels: refactor

#950 [PWN-6874] Refactor ChooseWalletToken views
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenCoordinator.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenItemView.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenService.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenSkeletonView.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenView.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenViewModel.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/Subviews/ChooseWalletTokenItemView.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptView.swift
  p2p_wallet/SwiftUI/ColoredBackground.swift
  p2p_wallet/SwiftUI/FocusedTexts/SearchField/SearchField.swift
  p2p_wallet/UIKit/SwiftUI/Cells/TokenCellView.swift
Labels: send, refactor

#954 [PWN-6874] Refactor ChooseWalletToken views
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenCoordinator.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenItemView.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenService.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenSkeletonView.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenView.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/ChooseWalletTokenViewModel.swift
  p2p_wallet/Scenes/Main/Send/ChooseWalletToken/Subviews/ChooseWalletTokenItemView.swift
  p2p_wallet/Scenes/Main/Send/Input/Details/FeePrompt/SendInputFeePromptView.swift
  p2p_wallet/SwiftUI/ColoredBackground.swift
  p2p_wallet/SwiftUI/FocusedTexts/SearchField/SearchField.swift
  p2p_wallet/UIKit/SwiftUI/Cells/TokenCellView.swift
Labels: refactor

#955 [PWN-6892] Enhance keyboard disappearence while modal dismiss of Buy …
  p2p_wallet/Scenes/Main/Buy/BuyView.swift
  p2p_wallet/SwiftUI/KeyboardHelper/KeyboardVisibilityReadable.swift
Labels: bug, buy

#947 [PWN-7044] Move relay account creation fee to `accountBalances`
  Podfile
  Podfile.lock
Labels: send

#944 [PWN-6914] Change defaultMinAmount on Buy screen
  p2p_wallet/Scenes/Main/Buy/BuyViewModel.swift
Labels: bug, buy

#972 [PWN-7151] Feature/pwn 7151
  .github/workflows/auto-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/daily-build-test.yml
  .github/workflows/manual-feature-high-priority-test.yml
  .github/workflows/manual-feature-test.yml
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_review.yml
  fastlane/Fastfile
  fastlane/README.md
Labels: no-qa

#953 [PWN-6873] Create RecipientSearchCoordinator and create several param…
  p2p_wallet/Coordinators/TabBar/HomeCoordinator.swift
  p2p_wallet/Coordinators/TabBar/TabBarCoordinator.swift
  p2p_wallet/Resources/Base.lproj/Localizable.strings
  p2p_wallet/Resources/en.lproj/Localizable.strings
  p2p_wallet/Resources/fr.lproj/Localizable.strings
  p2p_wallet/Resources/ru.lproj/Localizable.strings
  p2p_wallet/Resources/vi.lproj/Localizable.strings
  p2p_wallet/Scenes/Main/History/History.Coordinator.swift
  p2p_wallet/Scenes/Main/Sell/Pending/SellPendingCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputCoordinator.swift
  p2p_wallet/Scenes/Main/Send/Input/SendInputParameters.swift
  p2p_wallet/Scenes/Main/Send/Models/SendResult.swift
  p2p_wallet/Scenes/Main/Send/Models/SendSource.swift
  p2p_wallet/Scenes/Main/Send/RecipentSearch/RecipientSearchCoordinator.swift
  p2p_wallet/Scenes/Main/Send/SendСoordinator.swift
  p2p_wallet/Scenes/Main/WalletDetail/WalletDetail.ViewController.swift
Labels: send, refactor
